<%= render "barcode_scan_mode_detection", start_disabled: (start_disabled rescue false) %>
<%= render "dataentry_commons_input_group" %>

<div class="container" style="margin-top: 1em;">
  <div class="row">
    <div id="data-info" class="alert alert-warning col-lg-12"></div>
  </div>
  <div class="row">
    <div id="data-content" class="alert alert-warning col-lg-12"></div>
  </div>
  <%-unless (hide_action rescue true)%>
  <div class="row">
    <button id="data-action" class="btn btn-danger col-lg-12" data-loading-text="<i class='fa fa-spinner fa-spin '></i> <%=t :loading %>"><%=t "barcode.action.name"%></button>
  </div>
  <%-end%>
</div>

<script>
    var code;
    var returnedData;
    var additionalData = {};

    // These functions can be overridden in the containing file
    function setAll() {
        $("#data-info").show();
        $("#data-content").show();
        <%-unless (hide_action rescue true)%>
        $("#data-action").show();
        <%-end%>
    }

    function resetInfo() {
        returnedData = code = undefined;
        $("#barcode").empty();
        $("#data-info").empty().hide();
        $("#data-content").empty().hide();
        <%-unless (hide_action rescue true)%>
        $("#data-action").hide();
        <%-end%>
    }

    function contentHtmlString(data){
        return $("<span>" + data.barcode + "</span>");
    }

    function barcodeScannedSuccess(data, status) {
        returnedData = data;
        // Cleaning up
        $("#data-content").empty().hide();
        // Setting info already formatted from the controller
        $("#data-info").html(data.info);
        // Setting returned content
        var appended = contentHtmlString(data).appendTo("#data-content");
        // $("#data-content").switchClass("alert-warning", "alert-success", 800).switchClass("alert-success", "alert-warning",800);
        setAll();
        $("#data-action").focus();
        resetCurrentBtn();
        return appended;
    }

    function barcodeScannedThen(appended){}

    function barcodeScannedFailure(errorObj) {
        // Resetting all to the starting condition
        resetCurrentBtn();
        resetInfo();
        // Showing modal error
        openModal("<%=t :error %>", errorObj.responseJSON.error);
    }

    <%-unless (hide_action rescue true)%>
    function dataActionSuccess(data, status) {
        openModal("<%=t :success %>", data.message);
        setAll();
        resetCurrentBtn();
        return data;
    }

    function dataActionThen(data){}

    function dataActionFailure(errorObj) {
        barcodeScannedFailure(errorObj);
    }

    function dataActionAlways(){
        $("#data-action").button('reset');
    }
    <%-end%>
    // END of overridable functions

    // Operation on barcode scan
    function sendFunction() {
        code = $('#barcode');
        code.prop('disabled', true);
        $(this).button('loading');
        $.get('<%=rails_admin.send("#{action_name}_path")%>', {
            barcode: code.val(),
            parameters: additionalData
        }).then(barcodeScannedSuccess).done(barcodeScannedThen).fail(barcodeScannedFailure);
    }
    <%-if (start_disabled rescue false)%>
    $('#send').off('click', sendFunction);
    <%-else%>
    $('#send').on('click', sendFunction);
    <%-end%>

    <%-unless (hide_action rescue true)%>
    // Operation on button click
    $("#data-action").click(function () {
        code = $('#barcode');
        code.prop('disabled', true);
        $(this).button('loading');
        $.get('<%=rails_admin.send("#{action_name}_path")%>', {
            barcode: code.val(),
            parameters: additionalData,
            what_to_do: "data-action",
            data: returnedData
        }).then(dataActionSuccess).done(dataActionThen).fail(dataActionFailure).always(dataActionAlways);
    });
    <%-end%>

    // Starting with a clean interface
    resetInfo();
</script>

<%= render "dataentry_commons_input_group_logic", start_disabled: (start_disabled rescue false) %>
